html {
    scroll-behavior: smooth;
  }

*{
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"wdth" 100;
  }

.menu-items {
    display: flex;
    justify-content: space-evenly;
    background-color:darkgrey;
    padding-right: 20px;
}

.menu-items li {
    list-style-type: none;
    display: inline-block;
    padding: 0;
}

.item-link {
    line-height: 50px;
}

.avatar-space-img {
    max-height: 400px;
}

.avatar-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3 {
    padding: 50px;
    padding-top: 0;
    padding-bottom: 0;
}

.h-about-me {
    text-align: center;
}

.skills-an{
    padding: 0;
}

.skills-fe {
    padding: 0;
}

.skills-an li {
    list-style-type: none;
    padding: 0;
}

.skills-fe li {
    list-style-type: none;
    padding: 0;
}

.code-examples {
    text-align: center;
    padding: 0;
}

.code {
    text-align: center;
}



.expirience{
    padding: 0;
    text-align: center;
}

.expirience-list li{
    padding: 0;
    list-style-type: none;
}

.education{
    padding: 0;
    text-align: center;
}

.education-list li{
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

.footer-list {
    display: flex;
    justify-content: space-evenly;
    background-color:darkgrey;
    padding: 0;
    line-height: 50px;
    align-items: center;
}

.footer-list li {
    list-style-type: none;
    display: inline-block;
    padding: 0;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.footer-image{
    min-width: 50px;
}